.profile {
  width: 320px;

  margin: 30px auto;
  text-align: center;
  border: 2px solid rgba(92, 194, 207, 0.705);
  border-radius: 8px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
}

.description {
  padding: 24px;
}

.avatar {
  width: 100px;
  border-radius: 50px;
  margin: auto;
}

.name {
  font-weight: bold;
  font-size: 24px;
  color: rgb(11, 15, 11);
}

.tag {
  font-size: 18px;
}

.location {
  font-weight: bold;
  font-size: 18px;
}

.stats {
  display: flex;
  padding: 4px;
  margin: 0;
  justify-content: space-between;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgba(92, 194, 207, 0.705);
  color: rgba(0, 0, 0, 0.705);
  list-style: none;
}

.item {
  flex-direction: column;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  width: calc(100% / 3);
  padding: 10px;
}

.label {
  font-size: 16px;
}

.quantity {
  font-size: 24px;
  font-weight: bold;
}
